header {
	position: absolute;
	width: 100%;
	padding-top: 50px;
	z-index: 10;
}

.projectxy {
	&-logo {
		h1 {
			color: $white;
			font-size: 1.8rem;

			a {
				color: $white;
				text-decoration: none;
			}
		}
	}
}

.btn {
	&-apply {
		cursor: pointer;
	}
}
